* {
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
    }

    body {
      margin: 0;
      background: #fafafa;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .main{
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
        margin-left:100px;
    }
    .gradient {
    background: linear-gradient(to right,orange,red, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .box{
    background:white;
    border:2px solid #dbdbdb;
    width:70%;
    height: 100%;

  }
    .container {
      display: flex;
      max-width: 900px;
      width: 80%;
      justify-content: center;
      gap: 40px;
      margin-top: 20%;
    }

    .phone {
      width: 100px;
      height: 580px;
      display: none;
    }

    

    .logo {
      font-size: 18px;
      margin-bottom: 50px;
    }
    .insta {
    background: linear-gradient(to right,orange,red, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

    input {
      width: 80%;
      padding: 10px;
      margin-bottom: 8px;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      background: #fafafa;
      font-size: 14px;
    }

    input:focus {
      outline: none;
      border-color: #a8a8a8;
    }

    button {
      width: 80%;
      background: #4cb5f9;
      border: none;
      color: white;
      padding: 8px;
      font-weight: 500;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 10px;
    }

    button:hover {
      background: #3797ef;
    }

    .or {
      display: flex;
      align-items: center;
      margin: 20px 0;
      color: #8e8e8e;
      font-size: 13px;
      font-weight: 500;
    }

    .or::before,
    .or::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #dbdbdb;
      margin: 0 10px;
    }

    .facebook {
      color: #385185;
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
    }

    .forgot {
      font-size: 12px;
      color: #00376b;
      margin-top: 15px;
      cursor: pointer;
    }


    .signup-box span {
      color: #0095f6;
      font-weight: 500;
      cursor: pointer;
    }

    @media (min-width: 768px) {
      .phone {
        display: block;
      }
    }